.box_main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px !important;
    display: flex;
}

.searchimg{
    width: 30px;
    height: 30px;
}

.email_bt {
    width: 60%;
    float: left;
    font-size: 16px;
    color: #02c5fd;
    background-color: #ffffff;
    text-align: left;
    padding-left: 15px;
    height: 50px;
    border: 1px solid #02c5fd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.subscribe_bt {
    width: 15%;
    background-color: #02c5fd;
    float: right;
    padding: 9px 14px;
    color: #fff;
    height: 50px;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.index_menu{
    border: 1px solid;
    margin-top:100px;
    height:60px;
    margin-left: 100px;
    margin-right:100px;
    background-color: rgb(110, 166, 238);
}

.facet_result{
    border: 1px solid;
    height:600px; 
    margin-top:20px;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom: 20px;
}

.facet{
    border: 1px solid; 
    width:200px; 
    height:600px; 
    float: left;
    position: absolute;

}

.result{
    border: 1px solid; 
    width:1066px; 
    height:600px; 
    float: left;
    margin-left: 230px;
}


/* .facet_result,.facet,.result{
    margin:10px;
    border:1px solid #000;
}
.facet_result{
    width: 300px;
    height:230px;
}
.facet{
    width: 100px;
    height: 200px;
    float: left;
}
.result{
    height: 200px;
    width: 145px;
    float: left;
} */
